$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import '/bower_components/angular-material/angular-material.css';


/**
 * App-wide Styless
 */

$primary: #7265D6;
$primarydk: #655CBF;

$able: #88CF69;
$ifneedbe: #023152;
$maybe: #7265D6;
$unable: #ffffff;
$lightgray: #F9F8F8;
$mediumgray: #F9F8F8;
$darkgray: #ccc;

body {
	font-family: 'Open Sans', sans-serif;
}

.md-button-colored {
	background-color: $primary;
}

.md-default-theme[disabled] {
	background-color: $darkgray !important;
}

.md-button {
	color: white !important;
}

md-tabs-ink-bar {
	height: 4px;
}

.md-tabs-transparent {
	section {
		background-color: white !important;
		md-tab-label {
			color: black !important;
			font-size: 16px !important;
		}
		md-tab.active{
			font-weight: 700;
		}
		md-tabs-ink-bar {
			color: black;
			background-color: black;
		}
		.md-paginator {
			margin-right: 0px !important;
			background-color: black !important;
		}
	}
}


h5, .h5 {
	font-weight: bold;
}

a {
	color: $primary;
}

a:hover {
	color: $primarydk;
	text-decoration: none;
}

th.time-input {
	width: 550px;
}

tbody.time-input {
	display: block;
	max-height: 480px;
	overflow: auto;
}

@media screen and (max-width: 600px) {
	.page-header {
		margin: 0 0 20px;
	}
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'close/close.scss';
@import 'createEvent/createEvent.scss';
@import 'eventResponse/eventResponse.scss';
@import 'google/google.scss';
@import 'main/main.scss';
@import 'manageEvent/manageEvent.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector