$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import '/bower_components/angular-material/angular-material.css';


/**
 * App-wide Styless
 */

$able: #6CF2A4;
$ifneedbe: #7CD1F2;
$maybe: #F2B37C;

body {
	font-family: 'Open Sans', sans-serif;
}

.md-button-colored {
	background-color: #7265D6;
}

.md-button {
	color: white !important;
}


h5, .h5 {
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

/*.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}*/

th.time-input {
	width: 550px;
}

tbody.time-input {
	display: block;
	max-height: 480px;
	overflow: auto;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'close/close.scss';
@import 'createEvent/createEvent.scss';
@import 'eventResponse/eventResponse.scss';
@import 'google/google.scss';
@import 'main/main.scss';
@import 'manageEvent/manageEvent.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector