	.navbar-brand {
		color: white !important;
		font-size: 60px;
		font-family: 'Stalemate', cursive;
	}

	.navbar-default {
		background-color: rgba(0, 0, 0, 0.2);
		border: 0px;
	}

	.navbar-right {
		padding-top: 15px;
		margin-right: 15px !important;
	}

	.dropdown-btn {
		width: 100%;
		height: 100%;
	}

	.navbar-collapse.collapsing {
		margin-left: -15px;
		margin-right: -15px;
	}

	.navbar-toggle:active, .navbar-toggle:focus {
		background-color: rgba(0,0,0,0) !important;
	}

@media (min-width: 600px) {
	.navbar-brand {
		padding: 37px 15px;
	}

	.navbar-nav li a {
		padding-top: 28px;
		color: white !important;
	}
}

@media (max-width: 600px) {
	.navbar-brand {
		color: white !important;
		font-size: 50px;
		padding: 22px 15px 0px 15px;
	}
	.navbar-nav {
		margin: 0px;
	}

	.navbar-right {
		padding-top: 0px;
		margin: 0px !important;
	}

	.navbar-collapse {
		padding-left: 0px;
		padding-right: 0px;
	}

	.icon-bar {
		background-color: white !important;
	}

	.navbar-right {
		padding-top: 0px;
	}

	.navbar-toggle {
		margin-right: 15px;
	}
}

@media (max-height: 600px) {
	.navbar .navbar-default .navbar-static-top {
		min-height: 30px !important;
	}

	.navbar-right {
		padding-top: 0px;
		margin: 0px !important;
	}

	.navbar-collapse {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-brand {
		color: white !important;
		font-size: 40px;
		padding: 22px 15px 0px 15px;
	}
}

.navbar-sitewide {
	background-color: darken($primary, 45%) !important;
}