@media (min-width: 600px) {
	.navbar-nav li a, .navbar-brand {
		padding-top: 30px;
	}

	.navbar-brand {
		font-size: 24px;
	}

	.navbar-btn {
		padding-top: 15px !important;
	}

}

.navbar {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
