/*.datepicker-response {
	tr {
		height: 40px !important;
		padding:
		button {
			height: 100% !important;
		}
	}
}*/
.eventdetail {
	padding: 15px 0 0 0;
}

.response-time-table {
	width: 100%;
	border: 0px;
	margin: 15px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
	tr {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
}

.response-cell {
	width: 30%;
	padding: 0px;
}

.response-cell-btn {
	height: 100%;
	width: 100%;
	background-color: #F9F8F8;
	border: solid 1px #ccc;
	border-radius: 0px;
	color: #D8D5D5;
	display: block;
}

.response-cell-btn:hover {
	background-color: #F2F0F0;
}

.able, .able:hover {
	background-color: #6CF2A4;
	color: white;
}

.ifneedbe, .ifneedbe:hover {
	background-color: #7CD1F2;
	color: white;
}

.maybe, .maybe:hover {
	background-color: #F2B37C;
	color: white;
}

.unable {
	background-color: #F9F8F8;
}

.unable:hover {
	background-color: #F2F0F0;
}

.list-times {
	padding: 30px 0 0 0;
}


.btn-group-yesmaybe {
	width: 100%;
}

.btn-yesmaybe {
	width: 33%;
}