<div class="container">
<div layout="column" ng-mouseleave="resetMouse()" ng-mouseup="resetMouse()">
  <div layout="row">
      <div class="page-header" flex>
        <h1>{{event.title}}</h1>
      </div>
  </div>

  <div layout="column">
  	<div ng-hide="eventdetail" flex>
  		<a href="" ng-init="eventdetail=false" ng-click="eventdetail=true"><span class="h4">Event Details</span> &nbsp; <span class="h5"><span class="glyphicon glyphicon-plus"></span></span></a>
  	</div>
	  <div ng-show="eventdetail" flex>
	  		<a href="" ng-click="eventdetail=false"><span class="h4">Event Details</span> &nbsp; <span class="h5"><span class="glyphicon glyphicon-minus"></span></span></a>
	  </div>
	  <div layout="row" layout-md="column" layout-sm="column" class="eventdetail" ng-show="eventdetail">
	  	<div flex-order="1" flex="25" flex-md="100" flex-sm="100">
	  		<h5>ORGANIZER</h5>
	  		<p>{{event.senderName}}</p>
	  		<h5>LOCATION</h5>
	  		<p>{{event.location || "Not given"}}</p>
	  	</div>
	  	<div flex-order="2" flex="75" flex-md="100" flex-sm="100">
		  	<h5>DESCRIPTION</h5>
	  		<p>{{event.description || "Not given"}}</p>
	  	</div>
	  </div>
  	<div flex>
  		<hr>
  	</div>
  </div>

  <div layout="row" layout-md="column" layout-sm="column" flex>

		<div hide-sm hide-md flex="35">
		  <datepicker ng-if="showCalendar" ng-click="changePage(date.value)" ng-model="date.value" min-date="minDate" class="datepicker-sm well well-sm" date-disabled="dateDisabled(date, mode)" show-weeks="false" multi-select='selectedDates'></datepicker>
		</div>
		<div hide-sm hide-md flex="5">
		</div>
		<div vertical="true" layout="column" flex>
			<h2>When are you available?</h2><br>
			<md-tabs class="md-tabs-transparent" md-selected="selectedDay.index">
				<md-tab ng-repeat="day in days | orderBy:'dateInMS'" label="{{day.dateInMS | date:'MMM dd'}}"><br>
					<table class="response-time-table disable-text-selection" cellspacing="0" cellpadding="0"> 
						<tr>
							<td><h5>Time</h5></td>
							<td class="text-center"><h5>YES</h5></td>
							<td class="text-center"><h5>IF NEED BE</h5></td>
							<td class="text-center"><h5>MAYBE</h5></td>
						</tr>
						<tr ng-repeat="time in day.times | orderBy:'time'">
							<td><p>{{time.time | date:"h:mm a"}}</p></td>
							<td class="text-center response-cell"><button ng-class="{able: time.able}" class="response-cell-btn response-cell-btn-yes" ng-mousedown="selectResponse(time, 'able')" ng-mouseover="checkClick(time, 'able')"><h2><span class="glyphicon glyphicon-ok-sign"></span></h2></button></td>
							<td class="text-center response-cell"><button ng-class="{ifneedbe: time.ifneedbe}" class="response-cell-btn response-cell-btn-ifneedbe" ng-mousedown="selectResponse(time, 'ifneedbe')" ng-mouseover="checkClick(time, 'ifneedbe')"><h2><span class="glyphicon glyphicon-ok-circle"></span></h2></button></td>
							<td class="text-center response-cell"><button ng-class="{maybe: time.maybe}" class="response-cell-btn response-cell-btn-maybe" ng-mousedown="selectResponse(time, 'maybe')" ng-mouseover="checkClick(time, 'maybe')"><h2><span class="glyphicon glyphicon-question-sign"></span></h2></button></td>
						</tr>
					</table>
				</md-tab>
			</md-tabs>
			<br><br>
			<div class="">
				<h2>Submit Your Responses</h2>
				<div layout="column">
				   <form name="responseForm">
				   <md-input-container>
				     <label for="name">Name: </label>
				     <input id="name" name="name" ng-model="username.name" type="text" required>
				     <div ng-messages="EventInfo.title.$error">
				       <div ng-message="required">This is required.</div>
				     </div>
				   </md-input-container>
				   <md-button ng-disabled="responseForm.name.$invalid" class="md-button md-cornered md-button-colored btn-lg home-input-button" aria-label="Create Event" ng-click="submitResponses()" flex>
				     Submit Responses
				   </md-button>
				   </form>
				</div>
			</div>
			<br><br>
		</div>

	</div>
</div>
</div>