/*.datepicker-response {
	tr {
		height: 40px !important;
		padding:
		button {
			height: 100% !important;
		}
	}
}*/
.eventdetail {
	padding: 15px 0 0 0;
}

.response-time-table {
	width: 100%;
	border: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
	tr {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
}

.response-cell {
	width: 30%;
	padding: 0px;
}

.response-cell-btn {
	height: 100%;
	width: 100%;
	background-color: $lightgray;
	border: solid 1px $darkgray;
	border-radius: 0px;
	color: #D8D5D5;
	display: block;
}

.response-cell-btn:hover {
	background-color: #F2F0F0;
}

.able, .able:hover {
	background-color: $able;
	color: white;
}

.ifneedbe, .ifneedbe:hover {
	background-color: $ifneedbe;
	color: white;
}

.maybe, .maybe:hover {
	background-color: $maybe;
	color: white;
}

.unable {
	background-color: #F9F8F8;
}

.unable:hover {
	background-color: #F2F0F0;
}

.list-times {
	padding: 30px 0 0 0;
}


.btn-group-yesmaybe {
	width: 100%;
}

.btn-yesmaybe {
	width: 33%;
}

@media screen and (max-width: 768px) {
	.remove-for-phones {
		display: none;
	}
}

#stick {
	position: fixed;
	top: 0px;
	z-index: 20000;
	border-bottom: solid 1px $darkgray;
}