

<div  layout="column" flex>
  <form ng-show="currentPanel===0" style=" padding: 0;" name="EventInfo" class="event-form">
    <div class="md-whiteframe-z1 main-content" layout="column">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h1>Event Info</h1>
        </div>
      </md-toolbar>
      <md-content class="md-padding" md-scroll-shrink>
        <div id="options">
          <div flex="50" id="timeIncrement" class="form-group">
            <label  for="timeIncrement">Time Blocks:</label>
            <select class="form-control" ng-options="timeOption.label for timeOption in timeOptions" ng-model="timeIncrement"></select>
          </div>
          <md-input-container id="eventOptions">
            <md-checkbox tooltip="I can see it" tooltip-trigger="mouseenter" tooltip-placement="right"  id="checkbox" ng-model="eventOptions.isPrivate"  aria-label="Make Private">Make Private</md-checkbox>
          </md-input-container>
        </div>

        <md-input-container>
          <label for="title">Title: </label>
          <input id="title" name="title" ng-model="eventOptions.title" type="text" required>
          <div ng-messages="EventInfo.title.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label for="description">Description:</label>
          <textarea rows="2" id="description" name="description" ng-model="eventOptions.description" type="text"></textarea>
        </md-input-container>
        <md-input-container>
          <label for="location">Location:</label>
          <input id="location" name="location" ng-model="eventOptions.location" type="text" placeholder="">
        </md-input-container>
        <md-input-container>
          <label for="creatorName">Your Name:</label>
          <input id="creatorName" name="creatorName" ng-model="userOptions.name" type="text" placeholder="" required>
          <div ng-messages="EventInfo.creatorName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label for="creatorEmail">Your Email:</label>
          <input required id="creatorEmail" name="creatorEmail" ng-model="userOptions.email" type="email" >
          <div ng-messages="EventInfo.creatorEmail.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </md-content>
      <div layout="row" layout-align="space-around start" >
        <md-button type="submit" flex class="md-raised md-primary md-accent" ng-click="showNextPanel(currentPanel)">Next</md-button>
      </div>
    </div>
  </form>


    <div ng-show="currentPanel===1"  class="md-whiteframe-z1 main-content" layout="column">
      <md-toolbar >
        <div class="md-toolbar-tools">
          <h1>Select Dates</h1>
        </div>
      </md-toolbar>
      <md-content style="height: 550px;">
        <div style="height: 91%;">
          <datepicker ng-click="updateDays()" ng-model="date.value" min-date="minDate" class="datepicker well well-sm" show-weeks="false" multi-select='selectedDates'></datepicker>
        </div>
        <div style="clear:both"></div>
        <div style="height:3%" layout="row" layout-align="space-around start">
          <md-button flex flex-order="1" class="md-raised md-primary md-accent" ng-click="showPrevPanel()" >Prev</md-button>
          <div flex flex-order="2"></div>
          <md-button flex flex-order="3" class="md-raised md-primary md-accent" ng-click="showNextPanel(currentPanel)" >Next</md-button>
        </div>
      </md-content>
    </div >

     <div id="timesTable" ng-show="currentPanel===2" ng-mouseup="timeUp()" class="md-whiteframe-z1 main-content" layout="column">
      <md-toolbar>
        <div  class="md-toolbar-tools">
          <h1>Select Times</h1>
          <md-button class="md-raised md-accent md-default-theme" ng-click="allDays.apply(selectedIndex)" aria-label="All Days" style="display: inline-block; float:right !important; margin-top:-38px;">
	  Apply times to all days
          </md-button>
        </div>
      </md-toolbar >
       <md-tabs ng-click="testAdding()" md-selected="selectedIndex" ng-if="currentPanel===2">
         <md-tab label="No Dates Yet" ng-if="selectedDates.length===0">
           <md-content>

             <h2>No dates chosen, but have a shark instead</h2>
             <img style="display: block;margin-left:auto;margin-right: auto;" ng-src="http://media.giphy.com/media/NrRH9q9nNafja/giphy.gif"/>
             <div layout="row" layout-align="space-around start">
               <md-button flex class="md-raised md-primary md-accent" ng-click="showPrevPanel()" >Prev</md-button>
             </div>
           </md-content>
         </md-tab>
         <md-tab ng-repeat="day in selectedDates"  label="{{::day | date:short}}">
           <table class="table table-striped table-responsive disable-text-selection">
             <thead>
             <tr>
               <th class="time-input">
                 <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                 Select times for {{::day | date:short}}
               </th>
             </tr>
             </thead>
             <tbody class="time-input">
             <tr ng-mousedown="timeClick($event, $index, selectedIndex)" ng-mouseenter="timeEnter($event, $index, selectedIndex)" ng-repeat="time in dayHours[selectedIndex]">
               <td class="time-input" style="width:9500px" ng-class="{success: time.selected}">{{::time.time | date:"h:mm a"}}</th>
             </tr>
             </tbody>
           </table>
         </md-tab>
       </md-tabs>
       <div ng-if="selectedDates.length!==0" layout="row" layout-align="space-around start">
         <md-button flex flex-order="1" class="md-raised md-primary md-accent" ng-click="showPrevPanel()">Prev</md-button>
         <div flex flex-order="2">
         </div>
         <md-button flex flex-order="3" class="md-raised md-primary md-accent" ng-click="saveEvent()">Create!</md-button>
       </div>
    </div>

    <div ng-show="currentPanel===3" class="md-whiteframe-z1 main-content" layout="column">
      <md-toolbar>
        <div class="md-toolbar-tools">
		<span class="md-flex">Invite {{Create.currentUser.user}}</span>
        </div>
      </md-toolbar>
      <md-content id="created" class="md-padding">
       	<h1 flex flex-order="1" class="title-response">Your event was Created!</h1>
	<md-toolbar class="md-primary md-hue-3" style="height:100%; min-height:0px">
	        <div layout="row" layout-margin>
			<h4 flex flex-order="1" layout="row" layout-align="left center" class="link-text">Shareable Link:  <a ng-href="http://localhost:9000/event/{{Create.createdEvent._id}}" class="link-text">http://localhost:9000/event/{{Create.createdEvent._id}}</a></h4>
       		</div>
	</md-toolbar>
	<div layout="row" layout-margin ng-controller="LoginCtrl">
 		<md-button flex flex-order="3" md-theme="google" class="md-raised md-primary google-text" ng-click="loginOauth('google', Create.createdEvent._id)">
        		<i class="fa fa-google-plus"></i> Add Contacts
		</md-button>
        	<h2 flex flex-order="1" class="prompt-response">Invite some people</h2>
		<h2 flex flex-order="2" class="prompt-response" style="text-align:center">OR</h2>
	</div>
        <form name="invites" class="event-form">
          <md-input-container>
            <label for="emails">Emails</label>
            <textarea rows="2" id="emails" name="emails" ng-model="contacts.emails" type="text"></textarea>
          </md-input-container>
          <md-input-container>
            <label for="phoneNumbers">Phone Numbers</label>
            <textarea rows="2" id="phoneNumbers" name="phoneNumbers" ng-model="contacts.phoneNumbers" type="text"></textarea>
          </md-input-container>
        </form>
        <div>
        </div>
        <div layout="row" layout-align="space-around start">
         <md-button class="md-raised md-primary md-accent" hm-tap="addContacts()" >Send Invites</md-button>
        </div>
      </md-content>
    </div>
</div>
