
<div class="container container-narrow">
  <div  layout="column" flex>
    <form ng-show="currentPanel===0" name="EventInfo" class="event-form">
      <div class="" layout="column">
        <div layout="row">
            <div class="page-header" flex>
              <h1>Event Info</h1>
            </div>
        </div>
        <md-content flex>
          <div layout="row" id="options" flex>
            <div flex="25" flex-md="25" flex-sm="35" id="timeIncrement" class="form-group">
              <label  for="timeIncrement">Time Blocks:</label>
              <select class="form-control" ng-options="timeOption.label for timeOption in timeOptions" ng-model="timeIncrement"></select>
            </div>
            <div flex="5" >
            </div>
            <md-input-container id="eventOptions" flex>
              <md-checkbox tooltip="I can see it" tooltip-trigger="mouseenter" tooltip-placement="right"  id="checkbox" ng-model="eventOptions.isPrivate"  aria-label="Make Private">Make Private</md-checkbox>
            </md-input-container>
          </div>

          <md-input-container>
            <label for="title">Title: </label>
            <input id="title" name="title" ng-model="eventOptions.title" type="text"required>
            <div class="input-container-with-message" ng-messages="EventInfo.title.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label for="description">Description:</label>
            <textarea rows="1" id="description" name="description" ng-model="eventOptions.description" type="text"></textarea>
          </md-input-container>
          <md-input-container>
            <label for="location">Location:</label>
            <input id="location" name="location" ng-model="eventOptions.location" type="text">
          </md-input-container>
          <md-input-container>
            <label for="creatorName">Your Name:</label>
            <input id="creatorName" name="creatorName" ng-model="userOptions.name" type="text" required>
            <div class="input-container-with-message" ng-messages="EventInfo.creatorName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label for="creatorEmail">Your Email:</label>
            <input required id="creatorEmail" name="creatorEmail" ng-model="userOptions.email" type="email" >
            <div ng-messages="EventInfo.creatorEmail.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </md-content>
        <br>
        <div layout="row" layout-align="space-around start" >
          <md-button type="submit" ng-disabled="EventInfo.$invalid" flex class="md-button md-cornered md-button-colored btn-lg home-input-button" ng-click="showNextPanel(currentPanel)">Choose Dates</md-button>
        </div>
      </div>
    </form>


      <div ng-show="currentPanel===1"  class="" layout="column" flex>
        <div layout="row">
            <div class="page-header" flex>
              <h1>Select Dates</h1>
            </div>
        </div>
        <md-content>
          <div>
            <datepicker ng-click="updateDays()" ng-model="date.value" min-date="minDate" class="datepicker well well-sm" show-weeks="false" multi-select='selectedDates'></datepicker>
          </div>
          <div layout="row" layout-align="space-around start">
            <md-button flex class="md-button md-cornered md-button-colored btn-lg btn-prev" ng-click="showPrevPanel()" >Edit Event Info</md-button>
            &nbsp;&nbsp;
            <md-button flex class="md-button md-cornered md-button-colored btn-lg" ng-disabled="selectedDates.length === 0" ng-click="showNextPanel(currentPanel)" >Select Times</md-button>
          </div>
        </md-content>
      </div >

        <div ng-show="currentPanel===2" ng-mouseup="timeUp()" layout="column">
          <div layout="row">
            <div class="page-header" flex>
              <h1>Select Times</h1>
            </div>
          </div>
          <md-tabs class="md-tabs-transparent" ng-click="testAdding()" md-selected="selectedIndex" ng-if="currentPanel===2">
            <md-tab ng-repeat="day in selectedDates"  label="{{::day | date:'MMM dd'}}">
              <div layout="row" class="margin-top margin-bottom">
                <div flex>
                  <p><i>Times for {{::day | date:'MMM dd'}}</i></p>
                </div>
                <div flex>
                  <md-button class="md-button md-cornered md-button-colored-secondary pull-right" ng-click="allDays.apply(selectedIndex)" aria-label="All Days">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Apply times to all days
                  </md-button>
                </div>
              </div>
              
              <table class="table table-striped table-responsive disable-text-selection" id="timesTable">
                <tbody class="time-input">
                  <tr ng-mousedown="timeClick($event, $index, selectedIndex)" ng-mouseenter="timeEnter($event, $index, selectedIndex)" ng-repeat="time in dayHours[selectedIndex]">
                    <td colspan="2" class="time-input" style="width:9500px" ng-class="{success: time.selected}">{{::time.time | date:"h:mm a"}}</td>
                  </tr>
                </tbody>
              </table>
            </md-tab>
          </md-tabs><br><br><br>
        <div layout="row" id="stick-bottom" class="container container-narrow">
          <md-button flex class="md-button md-cornered md-button-colored btn-lg home-input-button btn-prev" ng-click="showPrevPanel()">Edit Dates</md-button>
          &nbsp;&nbsp;
          <md-button flex class="md-button md-cornered md-button-colored btn-lg home-input-button" ng-click="saveEvent()">Create Poll</md-button>
        </div>
      </div>

      <div ng-show="currentPanel===3" class="md-whiteframe-z1 main-content" layout="column">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span class="md-flex">Invite</span>
          </div>
        </md-toolbar>
        <md-content id="created" class="md-padding">
         	<h1 flex flex-order="1" class="title-response">Your event was Created!</h1>
  	      <md-toolbar class="md-primary md-hue-3" style="height:100%; min-height:0px">
  	        <div layout="row" layout-margin>
  			      <h4 flex flex-order="1" layout="row" layout-align="left center" class="link-text">Shareable Link:  <a ng-href="http://localhost:9000/event/{{Create.createdEvent._id}}" class="link-text">http://localhost:9000/event/{{Create.createdEvent._id}}</a></h4>
         		</div>
  	      </md-toolbar>
  	      <div layout="row" layout-margin ng-controller="LoginCtrl">
            <md-button flex flex-order="3" md-theme="google" class="md-primary google-text" ng-click="loginOauth('google', Create.createdEvent._id)">
              <i class="fa fa-google-plus"></i> Add Contacts
            </md-button>
            <h2 flex flex-order="1" class="prompt-response">Invite some people</h2>
            <h2 flex flex-order="2" class="prompt-response" style="text-align:center">OR</h2>
        	</div>
          <form name="invites" class="event-form">
            <md-input-container>
              <label for="emails">Emails</label>
              <textarea rows="2" id="emails" name="emails" ng-model="contacts.emails" type="text"></textarea>
            </md-input-container>
            <md-input-container>
              <label for="phoneNumbers">Phone Numbers</label>
              <textarea rows="2" id="phoneNumbers" name="phoneNumbers" ng-model="contacts.phoneNumbers" type="text"></textarea>
            </md-input-container>
          </form>
          <div layout="row" layout-align="space-around start">
           <md-button class="md-button md-cornered md-button-colored btn-lg home-input-button" hm-tap="addContacts()" >Send Invites</md-button>
          </div>
        </md-content>
      </div>
  </div>
</div>
