/* D3 */

// body {
// 	margin: 0;
// 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	font-size: 13px;
// }

.axis path {
	fill:none;
	stroke:grey;
	shape-rendering:crispEdges;
}
.grid .tick {
	stroke: lightgrey;
	opacity: 0.8;
	stroke-dasharray: 2,12;
}
.grid path {
	stroke-width: 0;
}
rect.times.bar {
	fill:#006D2C;
	fill-opacity:0.5;
	stroke:#006D2C;
	stroke-width:1px;
	pointer-events: all;
}
