<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>{{eventTitle}}</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" ng-hide="eventdetail">
      <a href="" ng-init="eventdetail=false" ng-click="eventdetail=true"><span class="h4">Manage Event</span> <span class="h5"><span class="glyphicon glyphicon-chevron-right"></span></span></a>
    </div>
  </div>

  <div class="calibration" role="calibration">
    <svg width="240" height="34">
    </svg>
  </div>

  <div class="row">

      <md-tabs md-selected="selectedIndex" ng-if="isDays.value">
          <md-tab ng-repeat="day in days" label="{{$index + 1}}">

          <div id="chart-{{$index}}" class="col-lg-8" response-chart on-rect-click="pullData(response)" day="day" day-num="$index" ng-class="{'ng-hide': selectedIndex !== $index}"></div>

          </md-tab>
      </md-tabs>

    </md-tab>
  </md-tabs>

    <div class="col-lg-4">
        <ul>
        <li ng-repeat="response in responses"> {{ response.username }}  {{ response.status }}</li>
      </ul>
    </div>
  </div>
</div>

















 
 