/* D3 */

// body {
// 	margin: 0;
// 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	font-size: 13px;
// }

.axis path {
	fill:none;
	stroke:grey;
	shape-rendering:crispEdges;
}
.grid .tick {
	stroke: lightgrey;
	opacity: 0.8;
	stroke-dasharray: 2,12;
}
.grid path {
	stroke-width: 0;
}
.able {
	fill:#f6faaa;
	stroke-width:1px;
	pointer-events: all;
}
.ifneedbe {
	fill:#7CD1F2;
	stroke-width:1px;
	pointer-events: all;
}

.maybe {
	fill:#F2B37C;
	stroke-width:1px;
	pointer-events: all;
}

.rect {
	padding: 10px;
}

