<div layout="column" flex>

  <nav mfb-menu position="br" effect="zoomin" label="Go To"
       active-icon="ion-close-round" resting-icon="ion-plus-round"
       toggling-method="click">
    <a mfb-button icon="ion-calendar" label="Responses" ng-click="changePanel(0);"></a>
    <a ng-if="isPhone"  mfb-button icon="ion-bowtie" label="Individual Responses" ng-click="changePanel(1)"></a>
    <a mfb-button icon="ion-edit" label="Edit Event" ng-click="changePanel(2)"></a>
    <a mfb-button icon="ion-person-add" label="Invite" ng-click="changePanel(3)"></a>
  </nav>

  <div ng-show="currentPanel===2" class="md-whiteframe-z1 main-content" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Event Information</h2>
      </div>
    </md-toolbar>
    <md-content ng-class="{'md-padding': !isPhone}">
      <md-toolbar class="md-primary md-hue-3" style="height:100%; min-height:0px">
        <div layout="row" layout-margin>
          <h4 flex flex-order="1" layout="row" layout-align="left center" class="link-text">Shareable Link:  <a ng-href="http://localhost:9000/event/{{Manage.event.id}}" class="link-text">http://localhost:9000/event/{{Manage.event.id}}</a></h4>
        </div>
      </md-toolbar>
      <form>
        <md-input-container>
          <label for="title">Title: </label>
          <input id="title" name="title" ng-model="event.title" type="text" required>
          <div ng-messages="EventInfo.title.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label for="description">Description:</label>
          <textarea rows="2" id="description" name="description" ng-model="event.description" type="text"></textarea>
        </md-input-container>
        <md-input-container>
          <label for="location">Location:</label>
          <input id="location" name="location" ng-model="event.location" type="text" placeholder="">
        </md-input-container>
        <div layout="row" layout-align="space-around start" >
          <md-button type="submit" flex class="md-raised md-primary md-accent" ng-click="editEvent()">Confirm Edit</md-button>
        </div>
      </form>
    </md-content>
  </div>

  <div ng-show="currentPanel===3" class="md-whiteframe-z1 main-content" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Invite</h2>
      </div>
    </md-toolbar>
    <md-content class="md-padding">
      <div layout="row" layout-margin ng-controller="LoginCtrl">
        <h2 flex flex-order="1" class="prompt-response">Type in Contacts</h2>
        <h2 flex flex-order="2" class="prompt-response" style="text-align:center">OR</h2>
        <md-button flex flex-order="3" md-theme="google" class="md-raised md-primary google-text" ng-click="loginOauth('google', Create.createdEvent._id)">
          <i class="fa fa-google-plus"></i> Add with G+
        </md-button>
      </div>
      <form name="invites" class="editeventform">
        <md-input-container>
          <label for="emails">Emails</label>
          <textarea rows="2" id="emails" name="emails" ng-model="contacts.emails" type="text"></textarea>
        </md-input-container>
        <md-input-container>
          <label for="phoneNumbers">Phone Numbers</label>
          <textarea rows="2" id="phoneNumbers" name="phoneNumbers" ng-model="contacts.phoneNumbers" type="text"></textarea>
        </md-input-container>
        <div layout="row" layout-align="space-around start" >
          <md-button type="submit" flex class="md-raised md-primary md-accent" ng-click="addContacts()">Send Invites</md-button>
        </div>
      </form>
    </md-content>
  </div>



  <div ng-show="currentPanel===0" class="md-whiteframe-z1 main-content" layout="column">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Current Responses</h2>
        <span>
          <h4>
            <table class="color-key" width="400" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="22%" class="able">&nbsp;ABLE</td>
                  <td width="34%" class="ifneedbe">&nbsp;IF NEED BE</td>
                  <td width="22%" class="maybe">&nbsp;MAYBE</td>
                  <td width="22%" class="unable" style="color: #000000">&nbsp;UNABLE</td>
                </tr>
            </table>
          </h4>
        </span>
      </div>
    </md-toolbar>
    <div layout="row">
      <div flex id="dayChart" >
        <md-tabs md-selected="selectedIndex" >
          <md-tab ng-repeat="day in days" label="{{day.date}}" ng-mousedown="changeDay(selectedIndex,$index)" ng-if="isDays.value">
            <md-content>
              <div id="chart-{{$index}}" response-chart height-mult="mult" on-rect-click="pullData(response)" day="day" day-num="$index"></div>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
      <div ng-if="!isPhone" flex="20">
        <h3 id="responseTab"></h3>
        <md-list>
        <!-- <h4 style="text-align: center">People</h4> -->
          <md-item ng-repeat="response in responses[currentIndex]">
            <md-item-content>

              <div  class="md-tile-left main-name-tile {{response.superStatus}}">
                <h4>{{response.username}}</h4>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </div>
    </div>


  </div>

  <div ng-show="currentPanel===1" class="md-whiteframe-z1 main-content" layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Individual Response Status Over Selected Times</h2>
          <span>
            <h4>
              <table class="color-key" width="400" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22%" class="able">&nbsp;ABLE</td>
                    <td width="34%" class="ifneedbe">&nbsp;IF NEED BE</td>
                    <td width="22%" class="maybe">&nbsp;MAYBE</td>
                    <td width="22%" class="unable" style="color: #000000">&nbsp;UNABLE</td>
                  </tr>
              </table>
            </h4>
          </span>
      </div>
      </md-toolbar>
        <md-list>
          <md-item ng-repeat="response in responses[currentIndex]">
            <md-item-content>
              <div  class="md-tile-left name-tile {{response.superStatus}}">
                <h2>{{response.username}}</h2>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
    </md-content>
  </div>
</div>



















